{% extends "base/base.html" %}
{% block title %}Detalhes da denúncia{% endblock %}

{% block content %}

    <section class="bg-white p-4 rounded shadow-sm mb-4">
        {% if denuncia %}
            <h2 class="h5 mb-4">Detalhes da denúncia</h2>
            <h6>Assunto: {{ denuncia.assunto }}</h6>            
            <h6>Mensagem:</h6>
            <p class="text-start">
                {{ denuncia.mensagem }}
            </p>
        {% else %}
            <h2 class="h5 mb-4">Denúncia não encontrada</h2>
        {% endif %}
    </section>

{% endblock %}