{% extends "base/base.html" %}
{% block title %}Denúncia aberta com sucesso!{% endblock %}

{% block content %}

    <section class="bg-white p-4 rounded shadow-sm mb-4">
        <h2 class="h5 mb-4 text-success">Denúncia aberta com sucesso <i class="bi bi-check-circle"></i></h2>
        <h6>Chave de acesso: <strong>{{ chave_acesso }}</strong></h6>            
        <p class="text-warning-emphasis">Anote essa chave de acesso e guarde para consultar as atualizações da sua denúncia. Sem a chave de acesso, não será possível acompanhar a denúncia.</p>
        <p class="text-warning-emphasis">Não é possível recuperar a chave de acesso em caso de perda.</p>

        <p class="text-start">
            Texto de como será analisado as denúncias.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel tristique nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel tristique nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
            Integer nec sem vitae nisi vehicula ullamcorper. In fermentum nunc non tortor iaculis, sit amet cursus sapien tincidunt.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel tristique nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
            Integer nec sem vitae nisi vehicula ullamcorper. In fermentum nunc non tortor iaculis, sit amet cursus sapien tincidunt.
        </p>    
    </section>

{% endblock %}